@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: black;
    color: #fff;
} */

.main-div {
    margin-left: 12rem !important;
    margin-right: 3rem;
}


.dark-cl {
    background-color: black !important;
}